<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
   <section id="about">
        <div class="section-inner">
          <h2>About me</h2>
          <p>I'm a really awesome llama. Every day I wake up, munch on some grass, do some coding and then go back to sleep.</p>
          <h3>Achievements</h3>
          <ul>
            <li>Photogenic posing Icon, 2010</li>
            <li>I coded a website, 2017</li>
          </ul>
        </div>
      </section>
</body>
</html>