@import "div.css";
@import "header.css";
@import "footer.css";

body {
    color: #1E306E
}

a {
    color: white;
    text-decoration: none;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
}